name: "Build"
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - run: nix build .#sd
      - name: Archive sdImage
        uses: actions/upload-artifact@v6
        with:
          name: modi.sdImage
          path: readlink result
