name: "Test"
on:
  pull_request:
  push:
jobs:
  build:
    runs-on: ubuntu-latest-arm
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - run: nix flake check
      # - run: nixos-rebuild build --flake ./home/runner/work/nix/nix#modi
      - run: nix build .#packages.sd
