name: "Build"
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - run: nix flake check
      # - run: nixos-rebuild build --flake ./home/runner/work/nix/nix#modi
      - run: nix build .#sd
